<section id="author">
	<div class="container">
		<div class="row">
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
			    <li class="breadcrumb-item"><a href="#">Cursos</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Informática</li>
			  </ol>
			</nav>
			<h1 class="section_title">Curso de informática</h1>
		</div>	
	</div>
</section> 


<section id="sobre">
	<div class="container">
		<div class="section_title_wrap">
			
			<p>
			    O curso de informática possibilitará ao aluno o pleno domínio do sistema operacional Windows e da Internet. Além disso, serão apresentadas as ferramentas presentes no Word e Excel, a fim de despertar o interesse do aluno aos programas básicos para utilização do computador.
            </p>
            <p>
                Por fim, as Redes Sociais serão exploradas de forma completa e prática, possibilitando o conhecimento e habilidade suficientes para se atualizar e utilizar o que há de melhor em termos de Internet.
			</p>
            <p>
                Ao término de cada turma ocorre uma cerimônia de entrega dos certificados para todos os alunos que concluíram o curso.
			</p>
		
		</div> 
	</div>
</section> 

<section id="blog">
	<div class="container">
		<div class="section_title_wrap">
			<h1 class="section_title">
				O que vou aprender
			</h1>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 wow slideInLeft" data-wow-duration="500">
				<div class="row">
					<div class="single_blog_post col-lg-12 col-md-12 col-sm-12">
						<div class="image-wrap">
							<%= image_tag("www.png", alt: "professora Nádia", class:"image") %>
						</div>
						<h2>Windows e internet</h2>
					</div>
				</div>	
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow slideInLeft" data-wow-duration="500">
				<div class="row">
					<div class="single_blog_post col-lg-12 col-md-12 col-sm-12">
						<div class="image-wrap">
							<%= image_tag("www.png", alt: "professora Nádia", class:"image") %>
						</div>
						<h2>Windows e internet</h2>
					</div>
				</div>	
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow slideInLeft" data-wow-duration="500">
				<div class="row">
					<div class="single_blog_post col-lg-12 col-md-12 col-sm-12">
						<div class="image-wrap">
							<%= image_tag("www.png", alt: "professora Nádia", class:"image") %>
						</div>
						<h2>Windows e internet</h2>
					</div>
				</div>	
			</div>
		</div>
	</div>
</section> 

<section id="groom_bride">
	<div class="container">
		<div class="section_title_wrap">
			<h1 class="section_title">
				Depoimentos
			</h1>
		</div> 

		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 single_groom col-lg-push-1 col-md-push-1">
				<%= image_tag("user.png", alt: "aluna") %>
				<div class="info-box">
					<h2>Aluna</h2>
					<p>Indicado para pessoas com mais de 40 anos de idade, o curso permite ao participante o primeiro contato com o computador, fornecendo informações básicas de informática e conhecimentos para a navegação na internet, explorando os principais recursos de pesquisa e entretenimento. </p>
				</div>
			</div> 

			<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 single_bride col-lg-offset-1 col-md-offset-1">
				<%= image_tag("user.png", alt: "aluno") %>
				<div class="info-box">
					<h2>Aluno</h2>
					<p>Indicado para pessoas com mais de 40 anos de idade, o curso permite ao participante o primeiro contato com o computador, fornecendo informações básicas de informática e conhecimentos para a navegação na internet, explorando os principais recursos de pesquisa e entretenimento. </p>
				</div>
			</div> 

		</div>
	</div>
</section> 