  <section id="rsvp">
		<div class="overlay">
			<div class="container">
				<div class="row">
					<h1>Login</h1>
					<div class="rsvp_wrap">
					  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
						  <%= f.email_field :email, :required => true, autofocus: true, autocomplete: "email", placeholder: 'Email' %>
						  <%= f.password_field :password, :required => true, autocomplete: "current-password", placeholder: 'Senha' %>
						  <%= f.submit 'Enviar' %>
						  
						  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
							  <%= link_to "Esqueceu sua senha?", new_password_path(resource_name) %><br />
							<% end -%>
						  
						<% end %>
				
					</div>
				</div>
			</div>
		</div>
  </section> 