	<section id="slider">
		<div class="overlay">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h1 class="wow fadeIn"  data-wow-duration="2000">Cursos gratuitos e de <br>qualidade para a melhor idade</h1>
						<ul class="time_counter clearfix" id="countdowncontainer">
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section> 

	<section id="qoute">
		<div class="overlay">
			<div class="container">
				<div class="row wow slideInLeft">
					<h2>"A Tecnologia está a serviço de todos, não há limite de idade."</h2>
				</div>
			</div>
		</div>
	</section> 

	<section id="groom_bride">
		<div class="container">
			<div class="section_title_wrap">
				<h1 class="section_title">
					Cursos
				</h1>
			</div> 

			<div class="row">
				<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 single_groom col-lg-push-1 col-md-push-1 wow slideInLeft" data-animation-duration="3s" data-animation-delay="1s">
					<%= image_tag("nadia.jpg", alt: "professora Nádia") %>
					<div class="info-box">
						<h2>Informática</h2>
						<p>Indicado para pessoas com mais de 40 anos de idade, o curso permite ao participante o primeiro contato com o computador, fornecendo informações básicas de informática e conhecimentos para a navegação na internet, explorando os principais recursos de pesquisa e entretenimento. </p>
						<button>Saiba mais</button>
					</div>
				</div> 

				<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 single_bride col-lg-offset-1 col-md-offset-1 wow slideInRight"  data-animation-duration="3s" data-animation-delay="2s">
					<%= image_tag("acucena.jpg", alt: "professora Açucena") %>
					<div class="info-box">
						<h2>Espanhol</h2>
						<p>Indicado para pessoas com mais de 40 anos de idade, o curso permite ao participante o primeiro contato com o computador, fornecendo informações básicas de informática e conhecimentos para a navegação na internet, explorando os principais recursos de pesquisa e entretenimento. </p>
						<button>Saiba mais</button>
					</div>
				</div> 

			</div>
		</div>
	</section> 
	
	<section id="blog">
		<div class="container">
			<div class="section_title_wrap">
				<h1 class="section_title">
					Notícias
				</h1>
			</div>
		
			<div class="row">
				<% @noticias.each do |noticia| %>
				<div class="col-lg-4 col-md-4 col-sm-4 wow slideInLeft" data-wow-duration="500">
					<div class="row">
						<div class="single_blog_post col-lg-12 col-md-12 col-sm-12">
							<div class="image-wrap">
								<%= image_tag(noticia.foto.to_s, alt: noticia.titulo, class:"image") %>
								<div class="overlay"></div>
							</div>
							<label><%= noticia.created_at.strftime("%d/%m/%Y") %></label>
							<h2><%= noticia.titulo %></h2>
							<%= link_to "Leia mais", noticias_show_path(id: noticia.id), class:"readmore" %>
						</div>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</section> 

	<section id="event_parties">
		<div class="container">
			<div class="section_title_wrap">
				<h1 class="section_title">
					Galeria
				</h1>
			</div> 
			<div class="row">
				<% @galerias.each do |galeria| %>
				<div class="single_event col-lg-4 col-md-4 col-sm-4 col-xs-12 slideInLeft">
					<div class="image-wrap">
						<%= link_to image_tag(galeria.foto.to_s, alt: galeria.legenda), galeria_show_path(id: galeria.id) %>
						
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</section> 

	
	

	