	<section id="author">
		<div class="container">
			<div class="row">
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb">
				    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
				    <li class="breadcrumb-item active">Notícias</li>
				  </ol>
				</nav>
				<h1 class="section_title">Notícias</h1>
			</div>
		</div>
	</section> 
	
	
	<section id="blog">
		<div class="container">
			<div class="section_title_wrap"></div>
			<div class="row">
				<% @noticias.each do |noticia| %>
				<div class="col-lg-4 col-md-4 col-sm-4 wow slideInLeft" data-wow-duration="500">
					<div class="row">
						<div class="single_blog_post col-lg-12 col-md-12 col-sm-12">
							<div class="image-wrap">
								<%= image_tag(noticia.foto.to_s, alt: noticia.titulo, class:"image") %>
								<div class="overlay"></div>
							</div>
							<label><%= noticia.created_at.strftime("%d/%m/%Y") %></label>
							<h2><%= noticia.titulo %></h2>
							
							<%= link_to "Leia mais", noticias_show_path(id: noticia.id), class:"readmore" %>
						</div>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</section> 
	
	