<!-- #sobre -->
<section id="sobre">
	<div class="container">
		<!-- .section_title_wrap -->
		<div class="section_title_wrap">
			<h1 class="section_title">
				Sobre o Projeto
			</h1>
			<p>
			    No segundo semestre de 2010 o diretor professor Dr. Paulo Roberto Schroeder de Souza implantou na Fatec Baixada Santista Rubens Lara cursos voltados a terceira idade denominado como <b>Projeto Nova Era - Melhor Idade</b>, que tem como objetivo de desenvolver junto com os professores, através de aulas práticas, uma metodologia voltada a Terceira Idade.
			</p>
			<p>
			    <b>A Tecnologia está a serviço de todos, não há limite de idade.</b>
			</p>
			<p>
			    Para nossos alunos, o desafio de usar o computador é um resgate ao isolamento social, estimulação mental, elevação da autoestima, inserção na atualidade e socialização. Onde através de uma forma tímida e com as dificuldades de qualquer iniciante eles começam a descobrir o apaixonante mundo digital.
			</p>
			<h2>Premiações</h2>
			<p>
			    Em 2013, o projeto foi premiado como um dos destaques na 7ª Feira Tecnológica do Centro Paula Souza (Fetesp) na categoria Comunidade e Escola, uma parceria de sucesso.
            </p>
            <p>
               Em 2014, o projeto foi premiado na 10ª Edição do Prêmio Mario Covas na categoria Cidadania em Rede.
            </p>
			<h2>Cursos</h2>
			<p>
			    <b>Informática:</b> turma composta por 12 alunos com carga horária de 4 horas semanais.
            </p>
            <p>
                <b>Espanhol:</b> turma composta por 15 alunos com carga horária de 2 horas semanais.
            </p>
            <p>
                Ao término de cada turma ocorre uma cerimônia de entrega dos certificados para todos os alunos que concluíram o curso.
			</p>
		</div> 
		<!-- /.section_title_wrap -->
	</div>
</section> 

<!-- #membros-->
	<section id="membros">
		<div class="container">
			<!-- .section-title -->
			<div class="section_title_wrap">
				<h1 class="section_title">
					Membros do Projeto
				</h1>
		    </div> 

			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 close_person_top">
					<%= image_tag("leticia.jpg", alt: "Letícia") %>
					<h2>Letícia Gomes Rodrigues</h2>
					<span>Coordenadora Administrativa</span>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 close_person_top">
					<%= image_tag("nadia.jpg", alt: "professora Nádia") %>
					<h2>Nádia Cristina B. A. dos Santos</h2>
					<span>Professora de Informática</span>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 close_person_top">
					<%= image_tag("acucena.jpg", alt: "professora Açucena") %>
					<h2>Açucena Ortega Rabadán</h2>
					<span>Professora de Espanhol</span>
				</div>
			</div>
			

			<div class="row close_person_bottom">

				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="close_person_bottom_single clearfix">
						<%= image_tag("leticia.jpg", alt: "Letícia") %>
						<div class="details">
							<h2>Jim Burner</h2>
							<span>Monitor</span>
						</div>
					</div>
					
					<div class="close_person_bottom_single clearfix">
						<%= image_tag("nadia.jpg", alt: "professora Nádia") %>
						<div class="details">
							<h2>Jim Burner</h2>
							<span>Voluntário</span>
						</div>
					</div>
					
				</div>

				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="close_person_bottom_single clearfix">
						<div class="details">
							<h2>Jim Burner</h2>
							<span>Monitora</span>
						</div>
						<%= image_tag("nadia.jpg", alt: "professora Nádia") %>
					</div>
					<div class="close_person_bottom_single clearfix">
						<div class="details">
							<h2>Jim Burner</h2>
							<span>Voluntária</span>
						</div>
						<%= image_tag("nadia.jpg", alt: "professora Nádia") %>
					</div>
				</div>

			</div>

		</div>
	</section> <!-- /#membros -->