<section id="author">
	<div class="container">
		<div class="row">
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
			    <li class="breadcrumb-item"><%= link_to "Galeria", galeria_path %></li>
			    <li class="breadcrumb-item active" aria-current="page"><%= @galerias.legenda %></li>
			  </ol>
			</nav>
			<h1 class="section_title">Galeria</h1>
		</div>	
	</div>
</section> 

	<section id="blog_content">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 content_top wow slideInLeft">
					<figure class="figure">
						<%= image_tag(@galerias.foto.to_s, alt: @galerias.legenda, class:"image") %>
						<% if @galerias.fotografo.present? %>
							<figcaption class="figure-caption">
								Foto tirada por: <%= @galerias.fotografo%>
							</figcaption>
						<% end %>
					</figure>
					
				</div>
			</div>
		</div>
		
	</section> 
	
	
	
	
	