<!-- header -->
<header id="header">
	<div class="container">
		<div class="row">
			<!-- #logo -->
			<div id="logo" class="col-lg-12">
				<a>
					<%= link_to image_tag("logo.png", alt: "Logo do Projeto Nova Era"), root_path %>
				</a>
			</div> 
			<!-- /#logo -->
			
			<button class="nav-collapser">
				<i class="fa fa-bars"></i>
			</button>

			<!-- #main_navigation -->
			<nav id="main_navigation" class="col-lg-12 main_navigation">
				<ul>
					<li class="scroll <%= active_class(root_path) %>"><%= link_to "Home", root_path %></a></li>
					<li class="scroll <%= active_class(sobre_path) %>"><%= link_to "Sobre", sobre_path %></li>
					<li class="scroll <%= active_class(cursos_path) %>"><a href="#blog">Cursos <b class="caret"></b></a>
						<ul class="dropdown">
							<li><%= link_to "Informática", cursos_informatica_path %></li>
							<li><%= link_to "Espanhol", cursos_espanhol_path %></li>
						</ul>
					</li>
					<li class="scroll <%= active_class(noticias_path) %>"><%= link_to "Notícias", noticias_path %></li></li>
					<li class="scroll <%= active_class(galeria_path) %>"><%= link_to "Galeria", galeria_path %></li></li>
					<li class="scroll <%= active_class(contato_path) %>"><%= link_to "Contato", contato_new_path %></li></li>
					<% if usuario_signed_in? %>
						<li class="scroll"><a href="#blog"><%= current_usuario.email %> <b class="caret"></b></a>
							<ul class="dropdown">
								<li><%= link_to "Painel", rails_admin.dashboard_path %></li>
								<li><%= link_to "Sair", destroy_usuario_session_path, :method => :delete %></li>
							</ul>
						</li>
					<% else %>
						<li class="scroll <%= active_class(new_usuario_session_path) %>"><%= link_to "Login", new_usuario_session_path %></li>
					<% end %>	
				</ul>
			</nav> 
			<!-- /#main_navigation -->
		</div>
	</div>
</header> 
<!-- /header -->